body{
    margin:0
}
nav{ background-color:#669;
}
nav a{ color:white;/*移除超連結顏色*/
        text-decoration: none;/*移除底線*/
        display:block;/*讓<a>填滿<li>*/
        float: right;
        padding:14px 16px

       }
.hover-color:hover {
    background-color:#7f9871 ;/**#535D55*/
    color:white;
}

/*.dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #313;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: thistle;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    
}

