* {
    box-sizing: border-box;
}

.droptarget {
    position: relative;
    float: left;
    width: 50%;
    height: 500px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.context {
    float: left;
    width: 25%;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background: white;
}

body {
    margin: 0;
    background: #aaaaaa;
}

nav {
    background-color: #535D55;
    box-sizing: border-box;
    overflow: hidden;
}

    nav a {
        color: white;
        text-decoration: none; /*�������u*/
        padding: 14px 16px; /*�W�U ���k*/
        float: right;
        font-size: 16px;
        text-align: center;
    }

        nav a:hover {
            background-color: #7f9871;
        }

    nav p {
        float: right;
        color: white;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    box-sizing: border-box;
    display: none; /*�@�}�l������*/
    width: 100%;
    left: 0;
    z-index: 1; /*�e��*/
    padding: 14px 16px;
    color: white;
}

img {
    width: 150px;
    height: 100px;
    position: relative;
}

#divContainer, #divResize {
    border: dashed 1px #CCC;
    width: 50%;
    height: 75%;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    float: left;
}